keybinds {
	shared {
		bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
		bind "Alt j" "Alt Down" { MoveFocusOrTab "Down"; }
		bind "Alt k" "Alt Up" { MoveFocusOrTab "Up"; }
		bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
		bind "Alt m" { ToggleFloatingPanes; }
	}
}